<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <servlet-name>LogLet</servlet-name>
    <servlet-class>com.servlet.LogLet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegLet</servlet-name>
    <servlet-class>com.servlet.RegLet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WaterInfo</servlet-name>
    <servlet-class>com.servlet.WaterInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReceivePic</servlet-name>
    <servlet-class>com.servlet.ReceivePic</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DrinkListInfo</servlet-name>
    <servlet-class>com.servlet.DrinkListInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>KindergartenInfo</servlet-name>
    <servlet-class>com.servlet.KindergartenInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BindCupServlet</servlet-name>
    <servlet-class>com.servlet.BindCupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>com.servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveDataServlet</servlet-name>
    <servlet-class>com.servlet.SaveDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>KGNewsServlet</servlet-name>
    <servlet-class>com.servlet.KGNewsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FeeModelServlet</servlet-name>
    <servlet-class>com.servlet.FeeModelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ApkInfoServlet</servlet-name>
    <servlet-class>com.servlet.ApkInfoServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ProductList</servlet-name>
  <servlet-class>com.servlet.ProductList</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>LoadFileServlet</servlet-name>
  <servlet-class>com.servlet.LoadFileServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ReceiptAddressServlet</servlet-name>
  <servlet-class>com.servlet.ReceiptAddressServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>ReceiptAddressServlet</servlet-name>
    <url-pattern>/ReceiptAddressServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>LoadFileServlet</servlet-name>
    <url-pattern>/LoadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductList</servlet-name>
    <url-pattern>/ProductList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApkInfoServlet</servlet-name>
    <url-pattern>/ApkInfoServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>FeeModelServlet</servlet-name>
    <url-pattern>/FeeModelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KGNewsServlet</servlet-name>
    <url-pattern>/KGNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveDataServlet</servlet-name>
    <url-pattern>/SaveDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/UserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BindCupServlet</servlet-name>
    <url-pattern>/BindCupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReceivePic</servlet-name>
    <url-pattern>/ReceivePic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogLet</servlet-name>
    <url-pattern>/LogLet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DrinkListInfo</servlet-name>
    <url-pattern>/DrinkListInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegLet</servlet-name>
    <url-pattern>/RegLet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WaterInfo</servlet-name>
    <url-pattern>/WaterInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KindergartenInfo</servlet-name>
    <url-pattern>/KindergartenInfo</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>